body {
    background:fixed;
    background-color: antiquewhite;
    background-size: cover;
}

h1 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.topnav {
  overflow: hidden;
  background-color: lightblue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: violet;
  color: black;
}

.topnav a.active {
  background-color: violet;
  color: white;
}
